
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            color: #333;
        }
        .container {
            display: flex;
            height: 100vh;
        }
        .left {
            background-color: #333;
            color: #fff;
            padding: 20px;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .left h2, .left p {
            margin: 0;
        }
        .left .social {
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }
        .left .social a {
            color: #f8df01;
            text-decoration: none;
            font-size: 48px;
            transition: transform 0.3s ease;
        }
        .left .social a:hover {
            transform: scale(1.1);
        }
        .right {
            background-color: #a7a2a2;
            color: #fff;
            padding: 40px;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .right h2 {
            margin-bottom: 20px;
        }
        
        nav {
            display: flex;
            gap: 15px;
        }

        nav a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            transition: all 0.3s ease;
        }

        nav a:hover {
            color: #ffcc00;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }
        .gallery img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        .gallery img:hover {
            transform: scale(1.05);
        }
        /* Lightbox CSS */
        .lightbox {
            display: none;
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            justify-content: center;
            align-items: center;
        }
        .lightbox img {
            max-width: 90%;
            max-height: 80%;
            border-radius: 5px;
        }
        .lightbox:target {
            display: flex;
        }
        .close {
            position: absolute;
            top: 20px;
            right: 40px;
            color: #fff;
            font-size: 40px;
            text-decoration: none;
            font-family: Arial, sans-serif;
        }
        .close:hover {
            color: #ffcc00;
        }